/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Section */
nav {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdcc04;
  padding: 0px calc((100vw - 1300px) / 2);
}

nav a {
  text-decoration: none; /* Remove the underline for all anchor elements */
}

/* Logo Style */
nav .logo {
  color: black;
  font-size: 48px;
  font-weight: bold;
  font-style: oblique;
  padding: 32px;
  text-decoration: none; 
  cursor: pointer; /* Add a cursor pointer to indicate it's clickable for the logo */
}

nav .nav-items {
  flex: 1; /* nav items nearer to logo*/
}

nav .nav-items ul {
  display: flex;
  white-space: nowrap; /* Prevent line breaks */
}

nav .nav-items li {
  margin-right: 20px; 
}

nav .nav-items ul li {
  display: inline-block;
  padding: 16px;
  position: relative;
}

nav .nav-items ul li a {
  color: black;
  text-decoration: none; /* Remove black underline */
  font-size: 20px;
}

nav .nav-items ul li::after {
  content: '';
  width: 0%;
  margin: auto;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  display: block;
}

nav .nav-items ul li:hover::after {
  width: 100%; /* White underline when hover cover fully */
}

/* Highlight active page in navigation. For e.g, when the user
is at "About Us" Page, the "About Us" in the navigation section will be highlighted white.*/
nav .nav-items ul li:nth-child(3) a {
  color: white; 
  text-decoration: none; /* Remove the underline */
}

/* Get Started Button Styles */
#but a.button-link {
  background-color: #fff;
  color: black;
  font-size: 21px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  text-decoration: none; 
  display: inline-block; 
}

#but a.button-link:hover {
  background-color: #ddd;
  transition: 0.5s;
}

/* FAQ Section Styles */
.questions {
  max-width: 75%;
  margin: auto;
  padding-bottom: 70px;
}

.questions h1 {
  margin: 17px ;
  text-align: center;
  padding: 30px;
  font-size: 50px;
}

.questions h1::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  display: block;
  margin: 0;
  background-color: #fdcc04;
  left: 25%; /* Adjust the percentage as needed to center the underline below the title*/
}

.questions p{
  font-size: 23px;
  text-align: center;
  padding-bottom: 90px;
}

/* Accordion Styles (the part where showing and hiding content) */
.accordion {
  display: flex;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  padding: 40px;
  border: none;
  outline: none;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
}

.accordion i {
  font-size: 26px;
}

.active,
.accordion:hover {
  background-color: #fff9df;
  
}

.pannel {
  padding: 32px;
  overflow: hidden;
  background-color: #fff9df;
  display: none;
}

.pannel p {
  color: black;
  font-size: 19px;
  line-height: 1.4;
  text-align: left;
}

.faq {
  border: 1px solid black;
  margin: 10px 0;
}

.faq.active {
  border: none;
}

/* Footer Styles */
footer {
  background-color: rgb(140, 82, 140);
  color: #fff;
  padding: 40px;
  text-align: center;
}

.foot-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-cont h1{
  margin-bottom: 5px;
}

.social-media-icons {
  margin-bottom: 2px;
}

.social-media-icons i {
  font-size: 40px; 
  margin: 15px;
  padding: 40px;
}

.nav-foot {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-foot ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-foot li {
  margin-right: 20px;
}

.nav-foot a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  padding: 7px;
}

.nav-foot a:hover {
  color: #fdcc04; /* Change color on hover */
}

.Copyright p {
  margin-top: 70px; 
}

/* Button Styles (auto scroll back to the top button) */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  }
  
  #back-to-top-btn:hover {
  background-color: #007bff;
  color: #fff;
  }

/* Styles for rotating an element 180 degrees */
.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}

/* Class to show the accordion panel */
.pannel-show {
  display: block;
}

/* ********* Mobile View (max-width:768px) ********* */

/* Navigation Section */
@media screen and (max-width: 768px) {
  nav .logo {
    font-size: 24px;
  }
  nav .nav-items ul li {
    padding: 8px;
  }
  nav .nav-items ul li a{
    font-size: 18px;
  }
  #but a.button-link {
    font-size: 14px; 
    margin-right: 20px;
  }
}

/* FAQ Section */
@media screen and (max-width: 768px){
  .questions h1::after{
    margin-top: 20px;
  }
  .questions h1{
    font-size: 30px;
  }
  .questions p{
    font-size: 18px;
  }
  .accordion{
    font-size:17px;
    text-align: left;
  }
  .pannel p{
    font-size: 15px;
  }
  .faq{
    width: 100%;
  }
}

/* Scrolling Animation Styles */
.scrolling-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.scrolling-animation.show {
  opacity: 1;
  transform: translateY(0);
}




