/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Section */
nav {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdcc04;
  padding: 0px calc((100vw - 1300px) / 2);
}

nav a {
  text-decoration: none; /* Remove the underline for all anchor elements */
}

/* Logo Style */
nav .logo {
  color: black;
  font-size: 48px;
  font-weight: bold;
  font-style: oblique;
  padding: 32px;
  text-decoration: none; 
  cursor: pointer; /* Add a cursor pointer to indicate it's clickable for the logo */
}

nav .nav-items {
  flex: 1; /* nav items nearer to logo*/
}

nav .nav-items ul {
  display: flex;
  white-space: nowrap; /* Prevent line breaks */
}

nav .nav-items li {
  margin-right: 20px; 
}

nav .nav-items ul li {
  display: inline-block;
  padding: 16px;
  position: relative;
}

nav .nav-items ul li a {
  color: black;
  text-decoration: none; /* Remove black underline */
  font-size: 20px;
}

nav .nav-items ul li::after {
  content: '';
  width: 0%;
  margin: auto;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  display: block;
}

nav .nav-items ul li:hover::after {
  width: 100%; /* White underline when hover cover fully */
}

/* Highlight active page in navigation. For e.g, when the user
is at "About Us" Page, the "About Us" in the navigation section will be highlighted white.*/
nav .nav-items ul li:nth-child(4) a {
  color: white; 
  text-decoration: none; /* Remove the underline */
}

/* Get Started Button Styles */
#but a.button-link {
  background-color: #fff;
  color: black;
  font-size: 21px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  text-decoration: none; 
  display: inline-block; 
}

#but a.button-link:hover {
  background-color: #ddd;
  transition: 0.5s;
}


/* Contact Us Section */
.container {
  width: 80%;
  margin: 50px auto;
}

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

.contact-us-box {
  background-color: #fff;
  display: flex;
}

.heading h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 50px;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0;
  background-color: #fdcc04;
  transition: 0.5s ease; /* Add transition property for the underline */
} 

.heading p {
  font-size: 25px;
  margin-bottom: 40px;
}

.left-contact,
.right-contact {
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  margin: 7px;
}

/* Left Side Contact: Form */
.left-contact {
  flex-basis: 60%;
  padding: 40px 60px;
}

.left-contact h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.left-contact p{
  font-size: 17px;
}

.container p {
  margin-bottom: 40px;
}

.row-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.row-input .input {
  flex-basis: 48%; 
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
}

label {
  margin-bottom: 6px;
  display: block;
}

/* Button Styles (inside the form) */
.contact-us-box button {
  background: #edcd4d;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 20px;
  margin-top: 20px;
}

.contact-us-box button:hover{
  background-color: #dabd48;
  transition: 0.5s;
}

/* Right Side Contact: Contacts Information */
.right-contact {
  flex-basis: 40%;
  padding: 40px;
  background-color: #fff3cb;
}

.right-contact h3{
  font-size: 30px;
}

.right-contact p{
  font-size: 17px;
}

.right-contact h3 {
  margin-bottom: 20px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  padding-top: 20px;
  font-size: 17px;
  vertical-align: top;
}

tr td.icon-cell {
  white-space: nowrap;
  
}

/* Footer Styles */
footer {
  background-color: rgb(140, 82, 140);
  color: #fff;
  padding: 40px;
  text-align: center;
}

.foot-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-cont h1{
  margin-bottom: 5px;
}

.social-media-icons {
  margin-bottom: 2px;
}

.social-media-icons i {
  font-size: 40px; 
  margin: 0 10px;
  padding:40px;
}

.nav-foot {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-foot ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-foot li {
  margin-right: 20px;
}

.nav-foot a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  padding: 7px;
}

.nav-foot a:hover {
  color: #fdcc04; 
}

.Copyright p {
  margin-top: 100px; 
}

/* Button Styles (auto scroll back to the top button) */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  }
  
  #back-to-top-btn:hover {
  background-color: #007bff;
  color: #fff;
  }

/* ********* Mobile View (max-width:768px) ********* */

/* Navigation Section */
@media (max-width: 768px) {
  nav .logo {
    font-size: 24px;
  }
  nav .nav-items ul li {
    padding: 8px;
  }
  nav .nav-items ul li a{
    font-size: 18px;
  }
  #but a.button-link {
    font-size: 14px; 
    margin-right: 20px;
  }
}

/* Contact Us Section */
@media screen and (max-width: 768px) {
  .contact-us-box {
    flex-wrap: wrap;
  }

  .left-contact {
    flex-basis: 100%;
  }

  .right-contact {
    flex-basis: 100%;
    margin-top: 20px; 
  }
  .heading p{
    font-size: 18px;
  }
}


/* Scrolling Animation Styles */
.scrolling-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.scrolling-animation.show {
  opacity: 1;
  transform: translateY(0);
}




